<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table id="list1"></table>
<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" href="../static/css/bootstrap-table.min.css" th:href="@{/css/bootstrap-table.min.css}">
<script src="../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/bootstrap-table.min.js" th:src="@{/js/bootstrap-table.min.js}"></script>
<script src="../static/js/bootstrap-table-export.js" th:src="@{/js/bootstrap-table-export.js}"></script>
<script src="../static/js/bootstrap-table-zh-CN.min.js" th:src="@{/js/bootstrap-table-zh-CN.min.js}"></script>
<script src="../static/js/tableExport.min.js" th:src="@{/js/tableExport.min.js}"></script>

</body>
<script>
    $(function () {
        $("#list1").bootstrapTable({
            url:"/list",
            striped:true,
            pageNumber:1,
            pagination:true,
            sidePagination:'client',
            pagesize:5,
            pageList:[5,10],
            showRefresh:true,
            showToggle:true,
            showExport:true,
            exportDataType:"all",
            columns:[
                {
                    title: 'id',
                    field: 'id',
                    sortable: true
                },
                {
                    title: 'name',
                    field: 'name',
                    sortable: true
                },
                {
                    title: 'password',
                    field: 'password',
                    sortable: true
                },
                {
                    title: 'jaose',
                    field: 'jaose',
                    sortable: true
                },
                {
                    title: 'qx',
                    field: 'qx',
                    sortable: true
                },
                {
                    title: 'text',
                    field: 'text',
                    sortable: true
                }
            ]

        })
    })

</script>
</html>